@import '../../../styles/global.css';

.general{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:4% ;
    margin-top:8% ;
}

.menu{
    display: flex;
    flex-direction: column;
    width:9.3vw;
    height: 100%;
}

.menu select{
    height: 37px;
    margin-top:10%;
    border-color:var(--gray);
}

.menu label, .menuQty label{
    font-family: var(--ff-openSans);
    font-weight: 700;
}

.menuQty{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

@media only screen and (max-width:1300px) {
    .menu{
        width:8vw;
    }
}

@media only screen and (max-width:980px) {
    .menu{
        width:25vw;
    }
}

@media only screen and (max-width:580px) {
    .menu{
        width:38vw;
    }
}

