@import '../../styles/global.css';

.header{
    composes:sectionSetup from '../../styles/global.css';
    --designHeight-val:198; /*do not put px units*/
    transition: all 0.3s ease-in-out;
}

@media only screen and  (max-width:760px){
    .header{
        height: 100px;
    }
}